@import "~styles/_variables";
@import "~styles/_mixins";

.social {
  display: flex;
  justify-content: space-between;
  margin: $spacingSmall;
  .icon{
    cursor: pointer;
    padding: $spacingSmall / 2;
    border-radius: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 2em;
    height: 2em;
    background-color: $white;
    transition: $transitionNormal transform $easeInOutCubic;
    transform: translate3d(0,0,0);

    &:first-of-type{ margin-left: 0; }
    &:last-of-type{ margin-right: 0; }

    &:hover{
      transform: translate3d(0, 0, 0) scale(1.2);
    }

    svg{
      stroke: $blue1;
      position: absolute;
      width: 1em;
      height: 1em;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }
  }
}
